<h1 class="title">Listar Automóveis</h1>
<div  class="container">
<table >
    <tr class="header"> 
        
        <th>Tipo</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Ano</th>
        <th>Placa</th>
        <th>Criado em</th>
        <th>Remover</th>
        <th>Alterar</th>
        
    </tr>
    <tr class="lines" *ngFor="let automoveis of automovel">
      
        <td>{{automoveis.type}}</td>
        <td>{{automoveis.models}}</td>
        <td>{{automoveis.brand}}</td>
        <td>{{automoveis.year}}</td>
        <td>{{automoveis.placa}}</td>
        <td>{{automoveis.criadoEm | date: "dd/MM/yyyy"}}</td> 
        <td>

            <button mat-raised-button color="warn"  class="button" (click)="remover(automoveis.automobileId!)">
                Remover
            </button>
        </td>
        <td>
            <button mat-raised-button color="primary" class="buttonAlt2">
                <a  routerLink="/pages/automovel/cadastrar/{{ automoveis.automobileId }}">
                    Alterar
                </a>
            </button>
            
        </td>
    </tr>

</table>
</div>