<h2>Cadastrar Cliente</h2>

<div id="nome">
  <label for="txtNome">Nome</label>
  <input type="text" id="txtNome" [(ngModel)]="nome" />
</div>
<div id="cpf">
  <label for="txtCpf">CPF</label>
  <input type="text" id="txtCpf" [(ngModel)]="cpf" />
</div>
<div id="email">
  <label for="txtEmail">E-mail</label>
  <input type="text" id="txtCpf" [(ngModel)]="email" />
</div>
<div id="telefone">
  <label for="txtCpf">Telefone</label>
  <input type="text" id="txtCpf" [(ngModel)]="cellphone" />
</div>
<div id="botao">
  <button id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</div>
<div>

</div>
