<h1 class="title">Listar Aluguéis</h1>
<div  class="container">
<table>
    <tr class="header"> 
           
        <th>Pedido</th>
        <th>Cód. Cliente</th>
        <th>Automóvel</th>
        <th>Data de início</th>
        <th>Data de entrega</th>
        <th>Total Dias</th>
        <th>Preço por dia</th>
        <th>Preço Total</th>
        <th>Criado em</th>
        <th>Remover</th>
        <th>Alterar</th>
        
    </tr>
    <tr class="lines" *ngFor="let pedidos of pedido">
	    <td>{{pedidos.rentalId}}</td>
        <td>{{pedidos.clientId}}</td>
        <td>{{pedidos.automobile?.models}}</td>
        <td>{{pedidos.start_Date | date:'dd/MM/yyyy'}}</td>
        <td>{{pedidos.end_Date | date: "dd/MM/yyyy"}}</td>
        <td>{{pedidos.total_Days}}</td>
        <td>{{pedidos.total_Price| currency: "BRL":"R$ "}}</td>
        <td>{{pedidos.total_Days_Price| currency: "BRL":"R$ "}}</td>
        <td>{{pedidos.criadoEm | date: "dd/MM/yyyy"}}</td> 
        

        <td>
            <button mat-raised-button color="warn"  class="button" (click)="remover(pedidos.rentalId!)">
                Remover
            </button>
        </td>
        <td>
		<button mat-raised-button color="primary" class="buttonAlt1">
            <a routerLink="/pages/aluguel/alterar/{{ pedidos.rentalId }}">
                Alterar
            </a>
			</button>
        </td>
    </tr>
</table>
</div>